@media only screen and (min-with: 32.5em) {
	header, footer {
		background-color: rgb(72, 97, 123);
		text-align: center;
		border-radius: 10px;
		max-width: 50rem;
		padding: 0.75rem;
		margin: auto;
	}
	
	header{
		height: 120px;
	}
	
	#left {
		text-align: justify;
	}
	
	body{
		font-size: 16px;
		height: 100%;
		background-color: azure;
		text-align: justify;
	}
	

	
	header img {
		width: 90px;
		height: auto;
		border-radius: 10px 10px 10px 10px;
		margin-top: -80px;
	}
	
	img {
		border-style: none;
	}
	
	a {
		text-decoration: none;
	}
}